.organization__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  h1 {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 27px;
    color: $color-header;
  }
}
