<aside class="menu">

    <ul class="menu__list">
        <li>
            <a href="/" class="menu__link menu__link--main">
                <svg width="18" height="18" aria-hidden="true" focusable="false">
                    <use xlink:href="/images/icons/sprite.svg#home"></use>
                </svg> Главная</a>
        </li>
        <li>
            <a href="#" class="menu__link menu__link--main"><svg width="17" height="18" aria-hidden="true"
                    focusable="false">
                    <use xlink:href="/images/icons/sprite.svg#user"></use>
                </svg>Константин Константиновский</a>
        </li>
    </ul>

    <ul class="menu__list">
        <li>
            <a href="/events" class="menu__link menu__link--second"><svg width="24" height="24" aria-hidden="true"
                    focusable="false">
                    <use xlink:href="/images/icons/sprite.svg#events"></use>
                </svg>Мероприятия</a>
        </li>
        <li>
            <a href="/organization" class="menu__link menu__link--second"><svg width="24" height="24" aria-hidden="true"
                    focusable="false">
                    <use xlink:href="/images/icons/sprite.svg#organizations"></use>
                </svg>Организации</a>
        </li>
    </ul>

</aside>