.menu {
    width: 241px;
    padding: 32px 16px; 

    background-color: $color-bg-menu;
}

.menu__list {
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 80px;
    }
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 8px 4px;

    color: $color-menu-link;
    transition: 0.3s ease-in-out;

    svg {
        display: inline-block;
        margin-right: 8px;
        fill: $color-menu-link;
        transition: 0.3s ease-in-out;

    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &--main {
        margin-bottom: 24px;

        &:hover,
        &:focus,
        &:active {
            color: $color-menu-link-active;

            svg {
                fill: $color-menu-link-active;
            }
        }
    }

    &--second {
      border-radius: 10px;

        &:hover,
        &:focus,
        &:active {
            color: $color-menu-link-active-v2;
            background: $gradient-light;

            svg {
              fill: $color-menu-link-active-v2;
          }
        }
    }
}